/* Global Variables */
:root {
  --first-color: #c73535;
  --second-color: #3585c7;
  --third-color: #59c735;
  --main-transition: 0.7s;
}
/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-size: cover;
  background-image: url("background.jpg");
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
main {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small Screen */
@media (min-width: 768px) {
  main {
    width: 750px;
  }
}
/* Medium Screen */
@media (min-width: 992px) {
  main {
    width: 970px;
  }
}
/* Large Screen */
@media (min-width: 1200px) {
  main {
    width: 1170px;
  }
}
/* Header */
header {
  margin-top: 190px;
}
header main {
  width: 50%;
}
header main #rank {
  top: 0;
  left: 0;
  padding: 10px 20px;
  position: fixed;
  background-color: #ff5c55;
}
header main h1 {
  cursor: default;
  user-select: none;
  text-align: center;
}
header h1 span {
  font-size: 3em;
}
header h1 #l {
  color: var(--first-color);
}
header h1 #m {
  color: var(--second-color);
}
header h1 #t {
  color: var(--third-color);
}
header main p {
  padding: 10px;
  color: white;
  font-size: x-large;
  text-align: center;
  transform: rotateY(180deg);
  border-top: 5px solid var(--first-color);
  border-left: 5px solid var(--second-color);
  border-right: 5px solid var(--second-color);
  border-bottom: 5px solid var(--third-color);
}
/* Body */
section#body {
  margin-top: 20px;
}
#body main {
  width: 50%;
}
#body main #input {
  outline: 0;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  border-radius: 24px;
  border: 2px solid #dfe1e5;
  transition: var(--main-transition);
}
#body main #input:hover {
  box-shadow: -5px 5px 5px #3585c785;
}
#body main #btns {
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: space-evenly;
}
#body #btns span {
  color: white;
  font-size: 1.1em;
  cursor: pointer;
  user-select: none;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: var(--second-color);
  transition: var(--main-transition);
}
#body #btns span:hover {
  background-color: var(--first-color);
}
#body #btns #skip {
  position: relative;
  padding-left: 30px;
}
#body #btns #skip::before {
  top: 5px;
  left: 7px;
  content: "";
  width: 20px;
  height: 25px;
  position: absolute;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='%2359C735'%3E%3Cpath d='M15 21H9c-.55 0-1 .45-1 1s.45 1 1 1h1c0 .55.45 1 1 1h2c.55 0 1-.45 1-1h1c.55 0 1-.45 1-1s-.45-1-1-1zM16.5 18h-9c-.55 0-1 .45-1 1s.45 1 1 1h9c.55 0 1-.45 1-1s-.45-1-1-1zM8.5 7C7.77 7 7 7.77 7 8.5S7.77 10 8.5 10H10V8.5C10 7.77 9.23 7 8.5 7zM15.5 7c-.73 0-1.5.77-1.5 1.5V10h1.5c.73 0 1.5-.77 1.5-1.5S16.23 7 15.5 7zM17 14.72c1.69-.69 4-2.46 4-5.72 0-2.11-.65-9-9-9S3 6.89 3 9c0 3.26 2.31 5.03 4 5.72V15c0 .05.01.1.01.15-.3.16-.51.48-.51.85 0 .55.45 1 1 1h9c.55 0 1-.45 1-1 0-.37-.21-.69-.51-.86 0-.05.01-.1.01-.15v-.27zM15.5 11H14v4.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5V11h-2v4.5c0 .28-.22.5-.5.5s-.5-.22-.5-.5V11H8.5C7.21 11 6 9.79 6 8.5S7.21 6 8.5 6 11 7.21 11 8.5V10h2V8.5C13 7.21 14.21 6 15.5 6S18 7.21 18 8.5 16.79 11 15.5 11z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
